@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  <title></title>
    <link href="~/CSS/StyleSheet.css" rel="stylesheet"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<h2 id="reference-processing">Reflexica Reference Processing</h2>
            <hr/>

            @RenderBody()

            <script src="~/Scripts/jquery.filedrop.js"></script>
            <script src="~/Scripts/Main.js"></script>
</body>
</html>