body {
  font-family: 'Open Sans', sans-serif;
}

#drop-area {
    background: lightsteelblue;
    border: darkgray dotted 3px;
    width: 170px;
    padding: 70px;
    text-align: center;
    color: black;
  }

#input-text .text-area{
  height: 200px;
  width: 300px;
  padding: 10px;
  border: darkgray groove thin;
}

#reference-processing {
  text-align: left;
  color : darkblue;
}